.wishlist-wrapper {
	padding: 0 5% 0 5%;
	.wishlist-item{
		.row{
			font-size: x-large;
		}
		.media{
			.cover-book{
				width:68%;
			}
		}
		.info{
			margin-top: 15px;
		    font-size: large;	
		}
		.remove-btn{
			
		}

		.btn-list{
			.btn-item{
				margin: 3%;
			}
		}
	}
}