<div class='wishlist-wrapper container'>
	<div class='row wishlist-item'>
	    <div class='row title'>American Hustle at the night</div>
		<div class='col-sm-2 media'>
			<div class='cover-book'>
				<img src='static/assets/coverimages/5345664.png' class='img-responsive book-cover'>
			</div>
		</div>
		<div class='col-sm-6 info'>
			<section class="">
				<div class="authors">Authors: </div>
				<div class="format">Format:</div>
				<div class="isbn">ISBN Number: </div>
				<div class="publisher">Publisher:</div>
				<div class="subject">Subject: </div>
				<div class="yop">year of production: </div>
			</section>
		</div>
		
		<div class='btn-list col-sm-2'>
			<button class='btn btn-info btn-item'>Add to cart</button>
			<button class='btn btn-info btn-item'>Remove</button>
		</div>
		
	</div>
</div>