<div class="container book-list">
	<div class="info-bar" >
		<div class="row">
				<div class="dropdown">
				  <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    Sort
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				     <li><a >Popularity</a></li>
						    <li><a >Price Low to High</a></li>
						    <li><a >Price High to Low</a></li>
						    <li><a >Latest release</a></li>
				  </ul>
				</div>
				
		</div>
	</div>
	<div class="tab-content">
		<div class="row">
			<div ng-repeat="book in bookList" class="carousel-panel panel panel-default col-md-3 col-lg-3 col-sm-4 col-xs-6">
						<div class="panel-heading book-title">{{book.title}}</div>
							<div class="panel-body book-details">
								<img  class="img-responsive book-cover" ng-src="{{getImageLocation(book.image_loc)}}">
							</div>
			<div class="panel-footer price">
				Price
				<span>{{book.price| currency:"&#8377;"}}</span>
			</div>
			<div class="panel-footer">
				Add to Cart
				<div class="glyphicon glyphicon-shopping-cart"></div>
			</div>
				
			</div>
		</div>
	</div>
</div>